-i https://pypi.org/simple
atomicwrites==1.2.1
attrs==19.1.0
colorama==0.4.1 
coverage==5.0a5
filelock==3.0.10
flake8==3.6.0
mccabe==0.6.1
more-itertools==5.0.0
pluggy==0.8.1
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest-cov==2.6.1
pytest==4.1.1
six==1.12.0
toml==0.10.0
tox==3.13.2
virtualenv==16.2.0
